if settings.labels[item[count]]
  if settings.labels[item[count]].type  
    label(class='label label-#{settings.labels[item[count]].type} hidden-xs', style='margin-left:15px;')
      =settings.labels[item[count]].label
      if settings.labels[item[count]].url
        a(href='#{settings.labels[item[count]].url}', target='_blank')
          span.fa.fa-question-circle(style='margin-left:5px;')
  else
    label.label.label-default.hidden-xs(style='margin-left:15px;') 
      =settings.labels[item[count]].label
      if settings.labels[item[count]].url
        a(href='#{settings.labels[item[count]].url}', target='_blank')
          span.fa.fa-question-circle(style='margin-left:5px;')