extends layout

block content   
  .col-xs-12.col-md-8
    .tabpanel
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#balance', aria-controls='balance', role='tab', data-toggle='tab') Balance
        li(role='presentation')
          a(href='#received', aria-controls='received', role='tab', data-toggle='tab') Received
    .tab-content
      #balance.tabpanel.tab-pane.active 
        include ./includes/rfp_name.jade