extends layout

block content   
  .col-xs-12.col-md-8
    .tabpanel
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#Address', aria-controls='balance', role='tab', data-toggle='tab') Address
    .tab-content
      #balance.tabpanel.tab-pane.active 
        include ./includes/rfp_balance.jade
      #received.tabpanel.tab-pane
        include ./includes/rfp_received.jade
  .row.footer-margin